body{/*{{{*/
  background-image:url("./images/gray.png");
  margin:0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
  
  font-family:Monaco;
  font-size:12px;
  color:#bdbdbd;
}/*}}}*/
/*mbForm{{{*/
.mbForm{/*{{{*/
  border:1px solid #bdbdbd;
  padding:20px;
  margin-left:5px;
  margin-top:5px;
  display:inline-block;
  background:#000;
  opacity:0.7;
  vertical-align:top;
}/*}}}*/
.mbFormTitle{/*{{{*/
  text-align:center;
  margin-bottom:5px;
  font-size:20px;
}/*}}}*/
.mbFormItem{/*{{{*/
  border:1px solid #bdbdbd;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:10px;
  width:300px;
}/*}}}*/
.mbFormItem span{/*{{{*/
  display:inline-block;
}/*}}}*/
.mbFormItem span:nth-child(1){/*{{{*/
  width:130px;
  text-align:right;
}/*}}}*/
.mbFormItem span:nth-child(2){/*{{{*/
  width:10px;
  text-align:middle;
}/*}}}*/
.mbFormItem span:nth-child(3){/*{{{*/
  width:130px;
  text-align:left;
  font-style:italic;
}/*}}}*/
.mbFormItem input{/*{{{*/
  display:inline-block;
  margin-right:5px;
}/*}}}*/
.mbFormAccept{/*{{{*/
  width:calc(100% - 1px);
  font-size:15px;
  text-align:center;
  border:1px solid #bdbdbd;
  vertical-align:middle;
  line-height:30px;
  cursor:pointer;
}/*}}}*/
.mbFormAccept:hover{/*{{{*/
  background:#bdbdbd;
  color:#000;
}/*}}}*/
.mbFormComment{/*{{{*/
  position:fixed;
  bottom:0;
  height:20px;
  line-height:20px;
  border-top:1px solid #bdbdbd;
  background:#000;
  opacity:0.7;
  vertical-align:middle;
  text-align:center;
  width:100%;
}/*}}}*/
.mbLogOut{/*{{{*/
  position:fixed;
  right:0px;
  top:0px;
  height:30px;
  background:#000;
  opacity:0.7;
  border-left:1px solid #bdbdbd;
  border-bottom:1px solid #bdbdbd;
  width:100px;
  margin-left:5px;
  font-size:15px;
  text-align:center;
  vertical-align:middle;
  line-height:30px;
  cursor:pointer;
}/*}}}*/
.mbLogOut:hover{/*{{{*/
  background:#bdbdbd;
  color:#000;
  border:1px solid #000;
}/*}}}*/
/* mbForm}}} */
.mbDataForm{/*{{{*/
  position:fixed;
  display:block;
  left:356px;
  top:210px;
}/*}}}*/
