body{/*{{{*/
  background-image:url("./images/gray.png");
  margin:0px;
}/*}}}*/
/*form{{{*/
.mbForm{/*{{{*/
  display:table;
  border:1px solid #000;
  border-radius:5px;
  padding:5px;
  opacity:0.7;
  margin-left:auto;
  margin-right:auto;
}/*}}}*/
.mbFormContent{/*{{{*/
  position:relative;
  display:table;
  width:100%;
  background:#000;
  color:#bdbdbd;
  -webkit-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  border-radius:5px;
}/*}}}*/
.mbFormTitle{/*{{{*/
  padding-top:2px;
  text-transform:uppercase;
  font-family:Monaco;
  font-size:15px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:200px;
  background:#000;
  color:#bdbdbd;
  -webkit-box-shadow: -1px -2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px -2px 5px 0px rgba(0,0,0,0.75);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  margin-bottom:2px;
}/*}}}*/
.mbFormButton{/*{{{*/
  border:1px solid #bdbdbd;
  background:#000;
  width:20px;
  height:20px;
  color:#bdbdbd;
  cursor:pointer;
  text-align:center;
  padding:0px;
  vertical-align:middle;
  line-height:20px;
}/*}}}*/
.mbFormMiddleContent{/*{{{*/
  margin-top:0px;
  padding-top:4px;
}/*}}}*/
.mbFormButton:hover{/*{{{*/
  color:#000;
  background:#bdbdbd;
}/*}}}*/
#mbFormButtonPrevious{/*{{{*/
  margin-left:5px;
  border-top-left-radius:5px;
}/*}}}*/
#mbFormButtonNext{/*{{{*/
  margin-right:5px;
  border-top-right-radius:5px;
}/*}}}*/
.mbFormItem{/*{{{*/
  display:inline-block;
  vertical-align:top;
  width:300px;
  height:20px;
  font-family:Monaco;
  font-size:15px;
  margin-bottom:1px;
}/*}}}*/
.mbFormItem span:nth-child(1){/*{{{*/
  display:inline-block;
  text-transform:capitalize;
  width:135px;
  text-align:right;
  line-height:20px;
  vertical-align:middle;
  border-bottom:1px dashed #bdbdbd;
  margin-left:5px;
}/*}}}*/
.mbFormItem span:nth-child(2){/*{{{*/
  display:inline-block;
  text-align:center;
  width:20px;
}/*}}}*/
.mbFormItem input{/*{{{*/
  padding:0px;
  width:135px;
  color:#bdbdbd;
  background:#000;
  border:none;
  font-size:15px;
  font-style:italic;
  margin-top:0px;
  line-height:20px;
  vertical-align:middle;
  border-bottom:1px dashed #bdbdbd;
  outline:none;
}/*}}}*/
.mbFormItem select{/*{{{*/
  width:135px;
  border:none;
  padding:0px;
  border-radius:0px;
  background:#000;
  color:#bdbdbd;
  -webkit-appearance:none;
  font-style:italic;
  cursor:pointer;
  font-size:15px;
  line-height:20px;
  vertical-align:middle;
  margin:0px;
  margin-top:0px;
  border-bottom:1px dashed #bdbdbd;
  outline:none;
}/*}}}*/

.mbFormComment{/*{{{*/
  color:red;
  text-align:center;
  width:100%;
  margin-top:10px;
  margin-left:5px;
  margin-right:5px;
  cursor:default;
}/*}}}*/
.mbFormProgressBar{/*{{{*/
  height:20px;
}/*}}}*/
.mbFormProgress{/*{{{*/
  display:table;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}/*}}}*/

.mbFormProgressDot{/*{{{*/
  display:inline-block;
  margin-left:4px;
  border:1px solid #bdbdbd;
  margin-top:2px;
  margin-bottom:2px;
  border-radius:5px;
  margin-right:4px;
  width:5px;
  height:5px;
}/*}}}*/
.mbFormProgressDotSelected{/*{{{*/
  background:#bdbdbd;
}/*}}}*/
.mbFormProgressDotDeselected{/*{{{*/
  background:#000;
}/*}}}*/
.mbFormInfo{/*{{{*/
  position:absolute;
  right:5px;
  bottom:0px;
  color:#bdbdbd;
  width:100px;
  height:20px;
  text-align:right;
  font-family:Monaco;
  font-size:14px;
  font-style:italic;
  line-height:20px;
  vertical-align:middle;
}/*}}}*/
/*}}}*/
/*listForm{{{*/
.mbListFormButtons{/*{{{*/
  background:#000;
  height:20px;
  width:100%;
  margin-top:10px;
  margin-bottom:5px;
  text-align:center;
}/*}}}*/
.mbListFormButtons button{/*{{{*/
  height:20px;
  border:1px solid #bdbdbd;
  margin:none;
  padding:none;
  background:#000;
  color:#bdbdbd;
  cursor:pointer;
  text-transform:uppercase;
}/*}}}*/
.mbListFormButtons button:hover{/*{{{*/
  background:#bdbdbd;
  color:#000;
}/*}}}*/
.mbListFormButtons button:nth-child(1){/*{{{*/
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}/*}}}*/
.mbListFormButtons button:nth-child(2){/*{{{*/
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}/*}}}*/
/*}}}*/
/*mbTable{{{*/
.mbTable{/*{{{*/
  position:relative;
  border:1px solid #000;
  opacity:0.7;
  padding:5px;
  margin-left:auto;
  margin-right:auto;
  display:table;
  border-radius:5px;
  font-family:Monaco;
  font-size:12px;
}/*}}}*/
.mbTableTitle{/*{{{*/
  background:#000;
  height:20px;
  color:#bdbdbd;
  text-align:left;
  text-transform:uppercase;
  padding-left:10px;
  padding-right:10px;
  line-height:20px;
  vertical-align:middle;
  margin-bottom:2px;
  display:table;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  text-align:middle;
  -webkit-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
}/*}}}*/
.mbTableContent{/*{{{*/
  background:#000;
  margin-bottom:2px;
  color:#bdbdbd;
  background:#000;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  -webkit-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
}/*}}}*/
.mbTableContent tr{/*{{{*/
  border:1px solid red;
  margin-left:5px;
  margin-right:5px;
  color:#bdbdbd;
  cursor:pointer;
}/*}}}*/
.mbTableContent td{/*{{{*/
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:2px;
  text-align:center;
}/*}}}*/
.mbTableContent tr:nth-child(even){/*{{{*/
  color:#000;
  background:#bdbdbd;
}/*}}}*/
.mbTableButton{/*{{{*/
  background:#000;
  color:#bdbdbd;
  position:absolute;
  width:20px;
  height:20px;
  line-height:20px;
  vertical-align:middle;
  text-align:center;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  cursor:pointer;
}/*}}}*/
.mbTableButton:hover{/*{{{*/
  background:#bdbdbd;
  color:#000;
}/*}}}*/
#mbTableButtonRemove{/*{{{*/
  right:5px;
  top:5px;
  border-top-left-radius:0px;
}/*}}}*/
#mbTableButtonAdd{/*{{{*/
  right:25px;
  top:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
}/*}}}*/
#mbTableButtonEdit{/*{{{*/
  right:45px;
  top:5px;
  border-top-right-radius:0px;
}/*}}}*/
/*}}}*/

/*clientbar{{{*/
.mbClientbar{/*{{{*/
  padding-bottom:5px;
  border-bottom:1px solid #000;
  margin-bottom:5px;
  opacity:0.7;
}/*}}}*/
.mbClientbarContent{/*{{{*/
  height:30px;
  width:100%;
  background:#000;
  color:#bdbdbd;
  line-height:30px;
  vertical-align:middle;
  font-family:Monaco;
  -webkit-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
}/*}}}*/
.mbClientbarClientWidget{/*{{{*/
  color:#bdbdbd;
  text-transform:uppercase;
  text-align:right;
  display:inline-block;
  margin-right:5px;
  width:30%;
}/*}}}*/
.mbClientbarOptionSlot{/*{{{*/
  display:inline-block;
  text-transform:uppercase;
  color:#bdbdbd;
  width:69%;
}/*}}}*/
.mbClientbarOption{/*{{{*/
  display:inline-block;
  cursor:pointer;
  padding-left:10px;
  padding-right:10px;
}/*}}}*/
.mbClientbarOption:hover{/*{{{*/
  background:#bdbdbd;
  color:#000;
}/*}}}*/
/*}}}*/
/*desk{{{*/
.mbDesk{
  width:100%;
  height:100%;
  position:fixed;
  left:0px;
  top:0px;
}
/*}}}*/

/*chat{{{*/
.mbChatMenu{/*{{{*/
  position:fixed;
  left:0px;
  top:35px;
  opacity:0.7;
  height:601px;
  -webkit-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
}/*}}}*/
.mbContactList{/*{{{*/
  display:inline-block;
  color:#bdbdbd;
  width:0px;
  background:#000;
  height:100%;
  font-family:Monaco;
  font-size:12px;
  text-transform:uppercase;
}/*}}}*/
.mbContactButton{/*{{{*/
  display:inline-block;
  vertical-align:top;
  width:20px;
  background:#000;
  color:#bdbdbd;
  height:100%;
  cursor:pointer;
  font-size:10px;
  text-align:center;
  line-height:20px;
}/*}}}*/
.mbContact{/*{{{*/
  color:#bdbdbd;
  background:#000;
  cursor:pointer;
  margin-left:2px;
}/*}}}*/
.mbContact:hover{/*{{{*/
  background:#bdbdbd;
  color:#000;
}/*}}}*/
.mbChatSlot{/*{{{*/
  display:inline-block;
  overflow-y:scroll;
  height:100%;
  vertical-align:top;
}/*}}}*/
.mbChatWindow{/*{{{*/
  width:200px;
  height:200px;
  background:#bdbdbd;
  border-radius:5px;
  overflow:hidden;
  margin-bottom:1px;
  border-left:1px solid #000;
}/*}}}*/
.mbChatWindowTitle{/*{{{*/
  background:#000;
  color:#bdbdbd;
  height:20px;
  width:100%;
  border-bottom:1px solid #bdbdbd;
  text-transform:uppercase;
  font-family:Monaco;
  font-size:12px;
  padding-left:5px;
  line-height:20px;
  vertical-align:middle;
}/*}}}*/
.mbChatWindowContent{/*{{{*/
  width:100%;
  height:158px;
  overflow-y:scroll;
}/*}}}*/
.mbChatWindowEntry{/*{{{*/
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}/*}}}*/
.mbChatWindowEntry input{/*{{{*/
  padding:0px;
  height:20px;
  border:none;
  width:150px;
  color:#000;
  background:#bdbdbd;
  outline:none;
  font-family:Monaco;
  font-size:12px;
  border-bottom:1px solid #000;
}/*}}}*/
.mbChatWindowEntry button{/*{{{*/
  padding:0px;
  text-transform:uppercase;
  border:none;
  color:#bdbdbd;
  background:#000;
  cursor:pointer;
  height:21px;
  width:50px;
  margin-top:-1px;
}/*}}}*/
.mbChatWindowEntry button:hover{/*{{{*/
  color:#000;
  background:#bdbdbd;
}/*}}}*/
.mbChatWindowMessage{/*{{{*/
  border:1px solid #000;
  font-family:Monaco;
  font-size:12px;
  width:155px;
  margin-bottom:5px;
  padding-left:2px;
  padding-right:2px;
}/*}}}*/
.mbChatWindowMessageSender{/*{{{*/
  background:#000;
  color:#bdbdbd;
  margin-left:0px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}/*}}}*/
.mbChatWindowMessageReceiver{/*{{{*/
  background:#bdbdbd;
  color:#000;
  margin-right:0px;
  margin-left:40px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}/*}}}*/
/*}}}*/
/*dock{{{*/
.mbIconName{/*{{{*/
  position:fixed;
  bottom:65px;
  opacity:0.7;
  color:#000;
  font-family:Monaco;
  width:100px;
  text-align:center;
  left:50%;
  transform:translateX(-50%);
}/*}}}*/
.mbDock{/*{{{*/
  display:table;
  border:1px solid #000;
  padding:5px;
  border-radius:5px;
  margin-left:auto;
  margin-right:auto;
}/*}}}*/
.mbDockContent{/*{{{*/
  display:table;
  background:#000;
  border-radius:5px;
  height:50px;
  padding-right:5px;
  -webkit-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
}/*}}}*/
.mbDockIcon{/*{{{*/
  display:inline-block;
  width:40px;
  height:40px;
  margin-left:5px;
  margin-top:5px;
  border:1px solid #bdbdbd;
  border-radius:5px;
  cursor:pointer;
  text-align:center;
  line-height:40px;
  vertical-align:middle;
  color:#bdbdbd;
  font-size:20px;
}/*}}}*/
.mbDockIcon:hover{/*{{{*/
  color:#000;
  background:#bdbdbd;
}/*}}}*/
/*}}}*/

/*optionbar{{{*/
.mbOptionBar{/*{{{*/
  width:100%;
  background:#000;
  height:20px;
  line-height:20px;
  vertical-align:middle;
  border-bottom:1px solid #bdbdbd;
}/*}}}*/
/*}}}*/
.mbToolMenu{/*{{{*/
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  opacity:0.7;
}/*}}}*/
.mbDrawer{/*{{{*/
  width:100%;
  height:200px;
  background:#000;
}/*}}}*/
/*notification{{{*/
.mbNotificationSlot{/*{{{*/
  width:250px;
  opacity:0.7;
  color:#bdbdbd;
  position:fixed;
  right:0px;
  top:35px;
}/*}}}*/
.mbNotification{/*{{{*/
  width:100%;
  height:80px;
  background:#000;
  border-radius:5px;
  margin-bottom:5px;
  -webkit-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 10px 7px rgba(0,0,0,0.75);
  font-family:Monaco;
  font-size:12px;
}/*}}}*/
.mbNotificationTitle{/*{{{*/
  text-transform:uppercase;
  border-bottom:1px solid #bdbdbd;
  padding-left:5px;
  padding-right:5px;
}/*}}}*/
.mbNotificationContent{/*{{{*/
  padding-left:5px;
  padding-right:5px;
  margin-top:2px;
}/*}}}*/
.mbNotificationButtons{/*{{{*/
  text-align:right;
  width:100%;
}/*}}}*/
.mbNotification button{/*{{{*/
  border:none;
  color:#bdbdbd;
  border:1px solid #bdbdbd;
  background:#000;
  cursor:pointer;
  text-transform:uppercase;
}/*}}}*/
.mbNotification button:hover{/*{{{*/
  color:#000;
  background:#bdbdbd;
}/*}}}*/
/*}}}*/


/*
http://www.fileformat.info/info/unicode/category/So/list.htm
https://www.textmagic.com/docs/api/node-js/
*/

